table{
    border-collapse: collapse;
}
table th{
    background-color: #203654;
    color: #fff;
}
table tr td .tab{
    text-align: right;
}
table tr:nth-child(odd) td{
    background-color: #e7edf0;
}